main {
    padding-inline: 20px;
    margin: 0 auto;
}

img {
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}

.container {
    text-align: center;
}

.section-header {
    display: block;
    margin-bottom: 10px;
}
.section-header.hero {
    margin-bottom: 0;
}

.intro {
    display: grid;
    place-items: center;
    min-height: -webkit-fill-available;
    height: 100vh;
}

.intro .container div {
    text-align: center;
}

.about {
    margin-bottom: 0;
}

.about .me {
    max-width: 285px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 6px;
}

.about p {
    font-size: 0.9em;
}

.list-wrapper {
    margin-bottom: 15px;
}

.skills-list,
.learning-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    padding: 0;
}

.contact {
    padding-bottom: 50px;
}

.contact p {
    font-size: 0.9em;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 15px;
}

.icon-link,
.icon {
    display: block;
    max-width: 30px;
    width: 100%;
    transition: 0.5s;
}

.icon:hover,
.icon:active {
    transform: scale(1.3);
    fill: grey;
}

footer {
    padding-inline: 20px;
}

@media screen and (min-width: 767px) {
    .about-wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 3em;
    }
    .about .me {
        min-width: 285px;
        width: 100%;
        margin: 0;
    }
    .about-paragraph-wrapper {
        text-align: left;
    }

    .about p {
        font-size: 1em;
    }
    
    .contact p {
        font-size: 1em;
    }
    
    .skills-header,
    .learning-header {
        display: block;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }
    
    .skills-list,
    .learning-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
        margin-left: 15px;
        font-size: 1.1rem;
    }
}

@media screen and (min-width:1200px) {
    main {
        max-width: 1200px;
    }
}