@import url("typography.css");
@import url("layout.css");

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*
  Drop shadow variables
*/

:root {
  --shadow-color: 60deg 7% 62%;
  --shadow-elevation-low:
    0px 1px 1.1px hsl(var(--shadow-color) / 0.34),
    0px 1.7px 1.9px -1.2px hsl(var(--shadow-color) / 0.34),
    0px 4px 4.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0px 1px 1.1px hsl(var(--shadow-color) / 0.29),
    0px 2.6px 2.9px -0.6px hsl(var(--shadow-color) / 0.29),
    0px 5.2px 5.9px -1.2px hsl(var(--shadow-color) / 0.29),
    0.1px 10.4px 11.7px -1.9px hsl(var(--shadow-color) / 0.29),
    0.1px 20px 22.5px -2.5px hsl(var(--shadow-color) / 0.29);
  --shadow-elevation-high:
    0px 1px 1.1px hsl(var(--shadow-color) / 0.27),
    0px 4.8px 5.4px -0.3px hsl(var(--shadow-color) / 0.27),
    0px 8.5px 9.6px -0.6px hsl(var(--shadow-color) / 0.27),
    0.1px 12.9px 14.5px -0.8px hsl(var(--shadow-color) / 0.27),
    0.1px 18.9px 21.3px -1.1px hsl(var(--shadow-color) / 0.27),
    0.1px 27.1px 30.5px -1.4px hsl(var(--shadow-color) / 0.27),
    0.2px 38.6px 43.4px -1.7px hsl(var(--shadow-color) / 0.27),
    0.3px 54px 60.8px -1.9px hsl(var(--shadow-color) / 0.27),
    0.4px 74.2px 83.5px -2.2px hsl(var(--shadow-color) / 0.27),
    0.5px 100px 112.5px -2.5px hsl(var(--shadow-color) / 0.27);
}

body {
  background-color: #fcfcfa;
}

 
.contact {
  background-color: #f3f4f5;
  width: 100%;
}

svg path {
  overflow-x: hidden;
}

.me {
  box-shadow: var(--shadow-elevation-medium);
}

.hand-wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%; 
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}